/*menu.css*/

/*=============== Botón de menú ===============*/
.menu-btn {
  display: none;
  border-radius: 5px;
  padding: 3px 7px;
  cursor: pointer;
  font-weight: bold;
  font-size: 32px;
  transition: background 0.2s, color 0.2s, transform 0.2s;
  position: relative;
  z-index: 2000;
}

/* Estado activo */
.menu-btn.active {
  background: var(--negro);
  color: var(--dorado);
  transform: scale(1.05);
}

/* Estado no activo */
.menu-btn.no-active {
  background: none;
  color: var(--dorado);
  border: none;
  transform: none;
}

/* Estado focus */
.menu-btn:focus {
  outline: none;
}


/*=============== Menú lateral de opciones ===============*/
.overlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 998;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.menu-opciones {
  position: fixed;
  top: 65px;
  right: 0;
  width: 300px;
  max-height: calc(100% - 70px);
  background: var(--negro);
  color: var(--dorado);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.menu-opciones.visible {
  transform: translateX(0);
}

.menu-opciones ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.menu-opciones ul li {
  margin: 0.3rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.menu-opciones ul li:last-child {
  border-bottom: none;
}

/* Estilos de los enlaces del menú */
.bt-opc {
  display: block;
  text-decoration: none;
  color: var(--dorado);
  font-weight: 500;
  font-size: 1.3rem;
  padding: 12px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.bt-opc:hover {
  color: var(--dorado);
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(2px);
}


.menu-footer {
  padding: 1rem;
  font-size: 1rem;
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
  background: var(--negro);
  color: rgba(212,175,55,0.6);
  font-style: italic;
}


/* ============================ Responsive ============================ */
/* Overlay transparente que cubre toda la pantalla */
@media (max-width: 1024px) {
  .menu-btn {
    display: block;
    position: absolute;
    right: 10px;
    background: none;
    color: var(--dorado);
    border: none;
    font-size: 1.6rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
}
